/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/docker-compose.yml
/docker-compose.override.yml
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
